<!doctype html>
<html lang="en">
<% include partials/_head %>
  <body>
    <% include partials/_top-bar %>
    <% include partials/_newResource.ejs %>
      <div class="resource-main grid-x align-center" style="margin-top: 2em;">
        <div class="resource-card card cell large-6" data-resource_id="<%=resource.id%>" >
          <div class="card-divider">
            <h4><%= resource.title %></h4>
          </div>
          <div class="resource-image" >
            <img alt="Resource image" src="<%=resource.image_url%>" />
          </div>
          <div class="cell card-divider card-section" >
            <p><%= resource.description %></p>
          </div>
            <div class="ratings-likes grid-x grid-padding-x align-center" >
              <div class="cell shrink rating " >
                <label>
                  <input type="radio" value="5" title="5 stars"> 5
                </label>
                <label>
                  <input type="radio" value="4" title="4 stars"> 4
                </label>
                <label>
                  <input type="radio" value="3" title="3 stars"> 3
                </label>
                <label>
                  <input type="radio" value="2" title="2 stars"> 2
                </label>
                <label>
                  <input type="radio" value="1" title="1 star"> 1
                </label>
              </div>
              <div class="cell shrink ">
                <a data-res_id="<%=resource.id%>" class="like-button">
                  <i class="far fa-thumbs-up"></i>
                </a>                
              </div>
            </div>
        </div>
      </div>
      <div class="grid-x align-center" >
        <div class="cell large-6 comment-section" >
          <h3>Comments (<%= Object.keys(commentsObj).length %>)</h3>
          <% for (let index in commentsObj ){ %>
            <div class="comment" >
              <div class="author">
                <img src="https://placehold.it/75x75" alt="">
                <span class="h4" href=""><%= commentsObj[index].userName%></span>
              </div>
              <div class="text">
                <p><%=commentsObj[index].commentText%></p>
              </div>
            </div>
              <% } %>
            <form
              action="/resources/<%=resource.id%>/comments"
              method="POST">
              <div class="comment-box">
                <div class="small-12 medium-6 large-6">
                  <h4>Leave a Comment</h4>
                  <label>Comment
                    <textarea rows="5" name="comment_text" type="text" ></textarea>
                  </label>
                  <button class="button" >Submit</button>
                </div>
              </div>
            </form>
        </div>
      </div>
  </div>
   <% include partials/_footerScripts %>
</body>
</html>
