<!doctype html>
<html lang="en">
<% include partials/_head %>
<body>
  <% include partials/_top-bar %>
    <% for (comment of comments){ %>
    <%}%>

  <% include partials/_footerScripts %>
</body>
</html>


<!-- comments -->
<div class="comment-section-container">
    <div class="grid-x grid-margin-x grid-padding-x grid-padding-y" >
        <% for (let res of resources){ %>

          <div class="card cell small-3" style="width: 300px;">
            <div class="card-divider">
              This is a header
            </div>
            <img class="thumbnail" alt="Resource image" src="http://via.placeholder.com/150x150" />
            <div class="card-section">
              <h4><%= res.title %></h4>
              <a data-res_id="<%=res.resource_id%>" class="like-button float-right">
                <i class="far fa-thumbs-up"></i>
              </a>
              <p><%= res.description %></p>
              <a class="button expanded" target="_blank" href="<%=res.URL %>" >Read More</a>
              <a href="/resources/<%= res.resource_id %>/comments">View Comments</a>
              <span><i class="far fa-star"></i></span>
            </div>
          </div>
        <% } %>
        </div>
  <h3>Comments (2)</h3>
  <div class="comment-section-author">
    <img src="https://placehold.it/50x50" alt="">
    <div class="comment-section-name">
      <h5><a href="">Janice Jones</a></h5>
      <p>March 12, 2017 at 1:28pm</p>
    </div>
  </div>
  <div class="comment-section-text">
    <p><%=comment.comment_text%>
    </p>
  </div>
  <div class="comment-section-author">
    <img src="https://placehold.it/50x50" alt="">
    <div class="comment-section-name">
      <h5><a href="">Janice Jones</a></h5>
      <p>March 12, 2017 at 1:28pm</p>
    </div>
  </div>
  <div class="comment-section-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum facilis tenetur a voluptatibus quia deserunt.
    </p>
  </div>
</div>
<!--/comments-->