<!doctype html>
<html lang="en">
<% include partials/_head %>
  <body>
      <% include partials/_top-bar %>

      <% console.log('resources length', resources.length); %>
      <% include partials/_newResource.ejs %>
      <div class="grid-container" style="margin-top:1em">
        <div class="grid-x grid-margin-x grid-padding-x grid-padding-y" >
        <% for (let res of resources){ %>

          <div class="card cell small-3" style="width: 300px;">
            <div class="card-divider">
             <h5>This is a header</h5>
            </div>
            <img class="thumbnail" alt="Resource image" src="http://via.placeholder.com/150x150" />
            <div class="card-section">
              <h4><%= res.title %></h4>
              <a data-res_id="<%=res.resource_id%>" class="like-button float-right">
                <i class="far fa-thumbs-up"></i>
              </a>
              <p><%= res.description %></p>
              <a class="button expanded" target="_blank" href="<%=res.URL %>" >Read More</a>
              <a href="/resources/<%= res.resource_id %>/comments">View Comments</a>
              <span><i class="far fa-star"></i></span>
            </div>
          </div>
        <% } %>
        </div>

      </div>
     <% include partials/_footerScripts %>
  </body>
</html>
